.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-open {
    margin-left: auto;
}

.menu-open,
.menu-close {
    border: none;
    background-color: transparent;
    transition: fill $animation;

    &:hover,
    &:hover {
        fill: $accentColor;
    }

    @include tablet {
        display: none;
    }
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: $primaryWhite;
    z-index: 1;
    transition: opacity $animation, visibility $animation;
}

.mob-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
}


.mob-menu__item{
    margin-bottom: 32px;
}

.mob-menu__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondaryFontColor;
    
}

.mob-current {
    color: $accentColor;
}

.mob-contact {
    margin-bottom: 64px;
}

.mob-contact__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contact__link {
    font-weight: 500;
        font-size: 24px;
        line-height: calc(28 / 24);
        letter-spacing: 0.02em;
        color: $primaryFontColor;
        &--tel{
            font-size: 34px;
            line-height: calc(40 / 34);
            color: $accentColor;
        }
}

.mob-soc {
    display: flex;
    flex-wrap: wrap;
}

.mob-soc__link {
    padding: 11px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accentColor;
}

.mob-soc__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}