.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
     .logo {
            margin-bottom: 20px;
        }
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.join {
    margin-left: 70px;
}

.logo__footer {
    display: inline-block;
    color: $primaryWhite;
}



.address__link {
    line-height: 1.71;
    color: $primaryWhite;
    transition: $animation;
    &:hover,
    &:focus {
     color: $accentColor;
        }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color $animation;
    &:hover,
    &:focus {
      color: $accentColor;
      }
}


.join__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primaryWhite;
}