.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
     .logo {
        margin-bottom: 20px;
        }
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media screen and (max-width: 767px) {
        gap: 60px;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        flex-wrap: nowrap;
    }
}


.logo__footer {
    color: $primaryWhite;
}

.address {
    @media screen and (min-width: 768px) {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
        }

    @media screen and (min-width: 1200px) {
        margin: 0;
    }

}

.address__link {
    line-height: 1.71;
    color: $primaryWhite;
    transition: $animation;
    &:hover,
    &:focus {
     color: $accentColor;
        }
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color $animation;
    &:hover,
    &:focus {
      color: $accentColor;
      }
}

.join {
    @media screen and (min-width: 768px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: 70px;
      }
}

.join__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primaryWhite;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}