.hero {
    max-width: 1600px;
    height: 400px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: $gradient,
        url(../img/heroimg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-color: #2f303a;

    @include retina {
        background-image: $gradient,
            url(../img/heroimg-mob@2x.jpg);
            }
        

     @include tablet {
        background-image: $gradient,
            url(../img/heroimg-tab.jpg);
        @include retina {
                background-image: $gradient,
                url(../img/heroimg-tab@2x.jpg);
            }
        }
    

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
        height: 600px;
        background-image: $gradient,
            url(../img/heroimg.jpg);
        @include retina {
                background-image: $gradient,
                url(../img/heroimg@2x.jpg);
            }
        }
    
}

.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primaryWhite;

    @media screen and (max-width: 1199px) {
        max-width: 360px;
    }

    @include desktop {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color $animation;

    @include desktop {
        padding: 10px 32px;
    }
}

